<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  	<!--   <servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value />
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping> -->
 
	
   <servlet>
    <servlet-name>administrationServiceServlet</servlet-name>
    <servlet-class>de.hdm.projectplan.server.AdministrationServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>administrationServiceServlet</servlet-name>
    <url-pattern>/projectplantest/projectplantest</url-pattern> <!-- davor stand "administrationservice" statt "projectplantest" drin -->
  </servlet-mapping>  
  
	<servlet>
		<servlet-name>loginService</servlet-name>
		<servlet-class>de.hdm.projectplan.server.LoginServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginService</servlet-name>
		<url-pattern>/projectplantest/login</url-pattern>

	<!--  	<url-pattern>/reportgenerator/login</url-pattern> -->

	</servlet-mapping>

  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ProjectplanTest.html</welcome-file>
  </welcome-file-list>

</web-app>
